@{
    ViewData["Title"] = "За нас";
}
<h1>@ViewData["Title"]</h1>


<div class="container my-4">

    <p class="font-weight-bold"></p>


    <hr>

    <p class="font-weight-bold"></p>

    
    <div id="yt" class="rounded  map-container" style="height: 500px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZqV7tjWq6FY?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    

</div>

<div height="100" class="jumbotron rounded jumbotron-fluid card-body bg-transparent shadow">
    <div class="container">

        <h3>Дипломен проект- док. презентация</h3>
        <a class="btn btn-outline-info" href="~/Images/DIPLOMEN-final-edit.pptx">Свали</a>
        <h3>Дипломен проект- теория</h3>
        <a class="btn btn-outline-info" href="~/Images/Теоритична част - Документация.docx">Свали</a>
        <h3>Последвай ме в GitHub за повече проекти</h3>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/mnikolov6" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Follow mnikolov6 on GitHub">Follow mnikolov6</a>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </div>
</div>