@{
    ViewData["Title"] = "За нас";
}
<h1>@ViewData["Title"]</h1>


<div class="container my-4">

    <p class="font-weight-bold"></p>


    <hr>

    <p class="font-weight-bold"></p>

    <!--Google map-->
    <div id="yt" class="z-depth-1-half map-container" style="height: 500px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZqV7tjWq6FY?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <!--Google Maps-->

</div>
<div height="100" class="jumbotron rounded jumbotron-fluid card-body bg-transparent shadow">
    <div class="container">

        <h3>Дипломен проект- док. презентация</h3>
        <a class="btn btn-outline-info" href="~/Images/DIPLOMEN-final-edit.pptx">Свали</a>
        <h3>Дипломен проект- теория</h3>
        <a class="btn btn-outline-info" href="~/Images/Теоритична част - Документация.docx">Свали</a>
    </div>
</div>