@{
    ViewData["Title"] = "Контакти";
}
<h1>@ViewData["Title"]</h1>


<div height="100" class="jumbotron rounded jumbotron-fluid card-body bg-transparent shadow">
    <div class="container">
        <h1 class="display-4"><strong>Здравейте и добре дошли!</strong></h1>
        <p class="lead">
            Това е страницата за контакт с нас!
            При нужда позвънете ни на номер: 089999999 или пък се свържете с нас по имейл: cakery@today.org
        </p>
        <p class="lead">
         Отдолу виждате и адреса на сладкарския цех!
        </p>
    </div>
</div>


<div class="container my-4">

    <p class="font-weight-bold"></p>

   
    <hr>

    <p class="font-weight-bold"></p>

    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1283.7786030250627!2d24.748374461222177!3d42.660188837360764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbg!2sbg!4v1652908824333!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--Google Maps-->

</div>
