@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Здравейте и добре дошли!</h1>
    <p>Сладко Изкушение е сайт, който реализира уеб магазин за сладкарски изделия.</p>
</div>
