@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Достъп отказан!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Нямате достъп до поискания ресурс. Възможно е Вашият акаунт да няма съответните права за промените, които искате да наложите.
    </p>
    <img src="~/Images/pngegg.png" />
</header>
