@model Sladko_Izkushenie.Models.CategoryVM

@{
    ViewData["Title"] = "Детайли";
}

<h1>Детайли</h1>

<div>
    <h4>Категория</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category_Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a> |
    <a asp-action="Index">Обратно към листа</a>
</div>
